body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/BG.jpg'); 
    background-size: cover; 
    background-color: rgba(241, 222, 222, 0.395); 
}
html{
    scroll-behavior: smooth;
}
.navbar {
    background-color: rgb(17, 17, 29);
    color: white;
    margin-right: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* position: fixed; */
    z-index: 1000; 
}

.navbar .links a {
    transition: color 0.3s ease, transform 0.3s ease; 
    margin-right: 20px;
}

.navbar .links a:hover {
    color: #57cb3f;
    transform: translateX(-5px); 
}


.logo img {
    height: 80px;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.links img {
    height: 30px; 
    width: 30px; 
}

main {
    padding: 100px 20px 20px; 
}

#tecnologias ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    justify-content: space-evenly;
}

#tecnologias ul li {
    margin-right: 20px;
    margin-bottom: 20px; 
    width: 50px; 
}

#tecnologias ul li img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 20px;
}

.contacto {
    text-align: center; 
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.project {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.8s ease, border-radius 0.8s ease; 
    border-radius: 10px; 
}

.project img:hover {
    transform: scale(1.1); 
    border-radius: 5px; 
}

.info {
    padding: 10px;
}

form {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

form input, form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c2ebe6a4;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: rgb(244, 235, 242); 
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}
